# LaTeX auxiliary files
*.aux
*.bbl
!main.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.pdf
!main.pdf
!figures/*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv
*.dvi
*.ps

# macOS
.DS_Store

# VS Code local state
.history/
